<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
      <%= render 'line_items' %>
    <hr class="my-4">

    <h5>Total cost: <%= humanized_money_with_symbol @order.total_cents / 100.0 %> </h5>
    <h5>Order email: <%= @order.email %> </h5>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
